.about {
  &__title {
    font-size: 52px;
    font-weight: bold;
    text-align: center;

    @include mq(767px) {
      font-size: 26px;
    }
  }

  &-icons {
    margin-top: 70px;

    &__row {
      display: flex;
      justify-content: space-around;

      @include mq(767px) {
        flex-direction: column;
      }
    }

    &-item {
      text-align: center;
      transform: scale(0);
      transition: .3s;

      @include mq(767px) {
        & + & {
          margin-top: 40px;
        }
      }

      &__img {
        width: 135px;
        height: 135px;
        display: flex;
        align-items: center;
        justify-content: center;
        border-radius: 50%;
        background: $red;
        margin: auto;

        img {
          width: 70px;
          height: 70px;
        }
      }

      &__title {
        font-size: 18px;
        margin-top: 20px;
        text-transform: uppercase;
      }
    }

    &__row.visible {
      .about-icons-item {
        transform: none;
      }
    }
  }


}