@import "../mixins";

.feedback {
  background: $red;
  padding: 50px 0;
  display: flex;
  max-width: 950px;

  &__default-wrapper {
    margin: 90px 0 0;
  }

  &__title {
    font-size: 52px;
    font-weight: bold;
  }

  &__subtitle {
    line-height: 24px;
    margin-top: 20px;
  }

  &-main-slider {
    max-width: 705px;
    margin-top: -100px;
    padding: 0 25px 0 50px;

    .slick-slide:not(.slick-current) {
      visibility: hidden;
    }

    &-item {
      &__video, &__img {
        width: 630px;
        max-width: 100%;
        height: 400px;

        img {
          width: 100%;
          height: 100%;
          object-fit: cover;
        }
      }

      &__info {
        padding: 35px 0 0 40px;
        max-width: 550px;
        font-size: 16px;
      }

      &__text {
        position: relative;
        line-height: 22px;
        color: #FFF;

        &:before {
          content: url("/images/feedback-quote.png");
          display: block;
          position: absolute;
          left: -35px;
          top: 0;
        }
      }

      &__name {
        font-weight: bold;
        margin-top: 20px;
      }

      &-program {
        font-weight: bold;
        margin-top: 3px;

        a {
          text-decoration: underline;
          color: #ffffff;

          &:hover {
            text-decoration: none;
          }
        }
      }
    }
  }

  &-nav-slider {
    max-width: 250px;
    padding: 0 50px 0 25px;
    
    .slick-arrow {
      cursor: pointer;
      width: 20px;
      height: 15px;
      position: relative;
      margin: auto;
      background: transparent;
      font-size: 0;
      border: none;
      outline: none;

      &:before {
        content: "";
        display: block;
        position: absolute;
        border: 4px solid #FFF;
        border-style: solid none none solid;
        border-radius: 4px 0 0 0;
        top: 0;
        left: 0;
        transform: rotate(45deg);
        width: 16px;
        height: 16px;
      }

      &.slick-disabled {
        opacity: .3;
      }
    }

    .slick-next {
      transform: rotate(180deg);
      margin-top: 10px;
    }

    .slick-slide {
      padding: 15px 0;
      cursor: pointer;
    }

    &__img {
      width: 150px;
      height: 150px;
      margin: auto;
      position: relative;

      &:before, &:after {
        content: '';
        display: block;
        position: absolute;
        width: 100%;
        height: 100%;
        left: 0;
        top: 0;
        transition: .3s;
        transition-delay: .3s;
        border-color: #FFF;
      }

      img:first-child {
        width: 100%;
        height: 100%;
        object-fit: cover;
      }
    }

    &__play {
      position: absolute;
      left: calc(50% - 15px);
      top: calc(50% - 17px);
      width: 30px;
      height: 35px;
    }

    .slick-current {
      .feedback-nav-slider__img {
        &:before {
          background: rgba(#FFF, .5);
        }

        &:after {
          border: 8px solid #FFF;
        }
      }
    }
  }
}