@import "../mixins";

.popup {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  z-index: 21;
  transition: .3s;
  opacity: 1;

  &__overlay {
    position: absolute;
    z-index: -1;
    width: 100%;
    height: 100%;
    left: 0;
    top: 0;
    background: rgba(#000, .5);
  }

  &-body {
    position: relative;
    background: #FFF;
    padding: 50px;
    border-radius: 10px;
    max-height: 90vh;
    overflow-y: auto;

    @include mq(767px) {
      width: 90%;
      padding: 20px;
    }
  }

  &-close {
    position: absolute;
    right: 10px;
    top: 10px;
    cursor: pointer;

    path {
      transition: .3s;
    }

    &:hover {
      path {
        fill: $red;
      }
    }
  }
}

.popup-enter {
  opacity: 0.01;
  transition: 0s;
}


.popup-leave {
  opacity: 1;
}
