@import "../mixins";

.program-list {
  display: flex;
  margin-top: 25px;
  padding-bottom: 30px;

  @include mq(1200px, min) {
    padding-left: calc((100vw - 1200px) / 2);
  }

  @include mq(1199px) {
    padding-left: 15px;
    padding-right: 15px;
  }


  &__wrapper {
    overflow: hidden;
  }

  &__title {
    font-size: 60px;
    font-weight: bold;
    margin-top: 70px;
  }

  &-item {
    width: 314px;
    padding: 10px;
    background: #e9ecf4;
    border-radius: 5px;
    position: relative;

    & + & {
      margin-left: 20px;
    }

    &__for {
      color: rgba(#778899, .8);
      font-weight: bold;
    }

    &__tag {
      position: absolute;
      right: 5px;
      top: 5px;
      background: $red;
      padding: 4px;
      border-radius: 2px;
      font-size: 14px;
      color: #ffffff;
    }

    &__img {
      width: 200px;
      height: 200px;
      border-radius: 50%;
      overflow: hidden;
      margin: 20px auto 0;
      position: relative;

      img {
        width: 100%;
        height: 100%;
        object-fit: cover;
      }
    }

    &__arrow {
      width: 100px;
      height: 2px;
      position: absolute;
      top: calc(50% - 1px);
      left: -350px;
      transition: .2s;

      &:before {
        content: '';
        display: block;
        width: 200px;
        height: 2px;
        position: absolute;
        right: 0;
        top: 0;
        background: #c6cfd8;
        transition: .2s;
        transition-delay: .2s;
      }

      &:after {
        content: '';
        display: block;
        position: absolute;
        width: 12px;
        height: 12px;
        border: 2px solid #c6cfd8;
        border-style: solid solid none none;
        right: 0;
        top: -5px;
        transform: rotate(45deg);
      }
    }

    &__name {
      font-size: 18px;
      font-weight: bold;
      color: #394959;
      text-align: center;
      transition: .3s;
    }

    &-info {
      width: 280px;
      background: #FFF;
      border-radius: 5px;
      margin-top: 20px;
      display: flex;
      flex-direction: column;
      align-items: center;
      padding: 20px;
      min-height: 116px;

      &__bottom {
        display: flex;
        margin-top: 10px;
        color: #778899;
      }
    }

    &__data-item {
      svg {
        margin-right: 5px;
      }

      & + & {
        margin-left: 15px;
      }
    }

    &:hover {
      .program-list-item__name {
        color: $red;
      }

      .program-list-item__arrow {
        left: 50px;

        &:before {
          width: 100px;
        }
      }
    }
  }
}