@import "../mixins";

.video-block {
  display: flex;
  align-items: center;

  @include mq(767px) {
    flex-direction: column;
  }

  &__text {
    max-width: 440px;
  }

  &__title {
    font-size: 26px;
    font-weight: bold;

    @include mq(767px) {
      font-size: 22px;
    }
  }

  &__description {
    margin-top: 20px;
    line-height: 24px;
  }

  &__video {
    width: 540px;
    height: 320px;
    max-width: 100%;
    margin-left: 100px;

    @include mq(1023px) {
      margin-left: 20px;
    }

    @include mq(767px) {
      margin: 20px 0 0;
      height: 160px;
    }
  }
}