html, body {
  margin: 0;
  height: 100%;
  font-weight: 500;
}

*, *:before,
*:after {
  box-sizing: border-box;
  outline: none;
}

h1, h2, h3,
h4, h5, h6 {
  margin: 0;
}

ul {
  list-style: none;
  margin: 0;
  padding: 0;
}

li {
  margin: 0;
  padding: 0;
}

a {
  text-decoration: none;
  transition: .3s;
  color: inherit;

  &:hover {
    color: $red;
  }
}

textarea, input {
  font: inherit;
}

#root {
  height: 100%;
}

.wrapper {
  height: 100%;
}

.main {
  flex: 1;
}

.container {
  width: 1230px;
  max-width: 100%;
  padding-left: 15px;
  padding-right: 15px;
  margin-left: auto;
  margin-right: auto;
}

.quote {
  padding: 60px 0;
  font-size: 30px;
  text-align: center;
  font-style: italic;
  border-top: 3px solid #d1d9e0;
  border-bottom: 3px solid #d1d9e0;
  margin-top: 50px;
  position: relative;

  &:before {
    content: url("/images/quote.png");
    display: block;
    position: absolute;
    top: -25px;
    left: calc(50% - 28px);
  }

  &__highlight {
    color: $red;
  }
}

video {
  cursor: pointer;
}

.underline-link {
  color: $red;
  text-decoration: underline;

  &:hover {
    text-decoration: none;
  }
}