@import "./mixins";

.btn {
  display: inline-block;
  padding: 20px 30px;
  cursor: pointer;
  transition: .3s;
  text-align: center;
  text-decoration: none;
  font-weight: bold;

  @include mq(767px) {
    font-size: 12.5px;
  }

  &:hover:not(:focus):not(:active) {
    transform: translateY(-2px);
    box-shadow: 0 5px 20px -5px rgba(208,16,27,0.5);
  }

  &:focus, &:active {
    transition: .05s;
  }

  &--primary {
    color: #778899;
    border: 3px solid #778899;

    &:hover {
      color: $red;
      border-color: $red;
    }
  }

  &--secondary {
    background: $red;
    color: #ffffff;
    border-radius: 2px;
  }

  &--tertiary {
    background: linear-gradient( 90deg, rgb(214,0,0) 0%, rgb(144,0,0) 100%);
    color: #ffffff;
    border-radius: 5px;
  }

  &--arrow {
    display: inline-flex;
    align-items: center;

    svg {
      margin-left: 15px;
    }
  }
}

.track-horizontal {
  position: absolute;
  height: 6px;
  bottom: 2px;
  border-radius: 3px;
  background: #e9ecf7;
  width: 1230px;
  max-width: 100%;
  left: 0;
  margin-bottom: 5px;

  @include mq(1201px, min) {
    left: calc((100vw - 1215px) / 2);
  }

  @include mq(1200px) {
    left: 15px;
    width: calc(100% - 30px);
  }
}

.thumb-horizontal {
  position: relative;
  cursor: pointer;

  &:after {
    content: '';
    display: block;
    position: absolute;
    width: 100%;
    height: 15px;
    top: 50%;
    transform: translateY(-50%);
    background: $red;
    border-radius: 10px;
  }
}

.radio-row {
  display: flex;
  flex-wrap: wrap;
  margin: 10px -10px -10px;

  @include mq(767px) {
    margin: 15px -6px -6px;
  }
}

.button-radio {
  position: relative;
  display: inline-block;
  margin: 10px;

  @include mq(767px) {
    margin: 6px;
  }

  input[type=radio] {
    position: absolute;
    width: 100%;
    height: 100%;
    left: 0;
    top: 0;
    margin: 0;
    opacity: 0;
    cursor: pointer;
    z-index: 1;

    + span {
      display: block;
      font-size: 14px;
      padding: 12px;
      border-radius: 5px;
      background: #f1f1f1;
      color: #000;
      transition: .3s;

      @include mq(767px) {
        padding: 5px 6px;
      }
    }

    &:hover:not(:checked) + span {
      color: $red;
    }

    &:checked + span {
      background: $red;
      color: #ffffff;
    }
  }
}

.crs {
  &__single-value {
    font-size: 14px !important;
  }

  &__menu {
    padding: 20px 10px;
  }

  &__option {
    background: #FFF !important;
    color: #000 !important;
    font-size: 14px !important;
    cursor: pointer !important;

    &:hover {
      color: $red !important;
    }
  }

  &__indicators {
    position: relative;

    svg {
      display: none;
    }

    &:after {
      content: '';
      display: block;
      width: 0;
      height: 0;
      border-left: 5px solid transparent;
      border-right: 5px solid transparent;
      border-bottom: 8px solid #394959;
      position: absolute;
      transition: .3s;
      right: 15px;
      transform: rotate(180deg);
    }
  }

  &__indicator-separator {
    display: none;
  }



  &__control {
    border: none !important;
    background: #f1f1f1 !important;
    outline: none !important;
    cursor: pointer !important;
    box-shadow: none !important;
    min-height: 40px !important;

    &:hover {
      .crs__single-value {
        color: $red !important;
      }
    }

    &--is-focused {
      .crs__indicators:after {
        transform: none;
        border-bottom: 8px solid $red;
      }
    }
  }
}

.crs-sort {
  margin-left: 15px;

  &__control {
    font-size: 16px !important;
    background: transparent !important;
    border: none !important;
    box-shadow: none !important;
    min-height: unset !important;
    cursor: pointer !important;
  }

  &__value-container {
    flex: unset !important;
    padding: 0 !important;
    opacity: .7;
    color: #778899 !important;
  }

  &__single-value {
    max-width: unset !important;
    margin: 0 !important;
    overflow: visible !important;
    position: static !important;
    transform: none !important;
  }

  &__menu {
    padding: 10px;
    width: max-content !important;
  }

  &__option {
    background: #FFF !important;
    color: #000 !important;
    cursor: pointer !important;
    width: max-content !important;

    &:hover {
      color: $red !important;
    }
  }

  &__indicator-separator {
    display: none;
  }
}