@import "./colors";
@import "./base";
@import "./ui";

@import "./components/header";
@import "./components/welcome-screen";
@import "./components/program-list";
@import "./components/inline-button-block";
@import "./components/got-question";
@import "./components/about";
@import "./components/video-block";
@import "./components/carousel";
@import "./components/feedback";
@import "./components/news";
@import "./components/footer";
@import "./components/footer-map";

@import "./components/program-filter";